<%- include("partials/header"); -%>
<body class='page'>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">Deliciosa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">      
    </div>
  </nav>
<main role="main" class="container  container body-content">
  <div class="jumbotron " align="center">
    <div class="search">
      <form action="/" method="post" class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" name="recipe" type="text" placeholder="Enter Recipe" aria-label="Search">

        <button class="btn btn-lg  btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

  </div>
</main>

<div class="container marketing">

  <div class="row">
    <%searchRes.forEach(function(recipe){%>
    <div class="col-lg-4 recipe">
      <img class="bd-placeholder-img rounded-circle" width="250" height="250" src="https://spoonacular.com/recipeImages/<%=recipe.image%>">
      <!--  <svg class="bd-placeholder-img rounded-circle"  xmlns="https://spoonacular.com/recipeImages/<%=recipe.image%>"; preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
      <h2 class="featurette-heading"><%=recipe.title%></h2>
      <p><strong>Ready in:</strong> <%= recipe.readyInMinutes%> minutes</p>
      <p><a class="btn btn-secondary" href="/recipes/<%=recipe.id%>" role="button">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <%})%>
  </div><!-- /.row -->
</div>


<%- include("partials/footer"); -%>
